:root {
  --purp: #642abb;
  --pnk: #f63fcf;
  --yel: #f9bb50;
  --drk: #1c2661;
  --gry: #efe5ff;
  --txt: #3a3b41;
  --slt: #f8f4ff;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

h1 {
  font-size: 40px;
}

.container {
  padding: 0px;
}

.navbar {
  z-index: 3;
}

* {
  z-index: 2;
}

.nav-button {
  background-color: transparent;
  border-color: black;
  color: black;
  border-radius: 100px;
}

.nav-button:hover {
  background-color: #642abb;
  color: white;
  border-color: var(--purp);
  transition: all 0.2s ease-in-out;
}

/* Navbar color */
.nav-color {
  background-color: white;
  /* @apply z-[9999] bg-white;
  backdrop-filter: blur(80px); */
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-out;
}

.bg-transparent {
  transition: all 0.3s ease-in-out;
}

.nav-link.active {
  font-weight: 700;
}

a.nav-link:hover {
  color: #642abb;
  /*  */
}

.slogan {
  font-size: 56px;
}

.hero p {
  font-size: 20px;
}

.hero h5 {
  font-size: 24px;
}

#artikel h3 {
  font-size: 24px;
}

#contact img {
  margin-bottom: 62px;
}

#artikel .cardicle .title {
  font-size: 20px;
}

#detail-artikel h1 {
  font-size: 40px;
}

#detail-artikel .isi {
  font-size: 20px;
}

#detail-artikel .tanggal {
  width: 220px;
}

.mail input {
  font-size: 20px;
  padding: 1rem;
  border-color: gray;
  border-radius: 12px;
  margin-bottom: 40px;
  border-style: solid;
}

.mail textarea {
  font-size: 20px;
  padding: 1rem;
  border-color: gray;
  border-radius: 12px;
  margin-bottom: 40px;
  border-style: solid;
}

.main-button {
  background-color: #f63fcf;
}

.main-button:hover {
  background-color: #e725bd;
  transition: all 0.2s ease-in-out;
}

#tentang img {
  transition: all 0.2s ease-in-out;
}

#tentang img:hover {
  scale: 1.05;
}

#tentang p {
  font-size: 24px;
  width: 85%;
}

#galeri #more {
  font-size: 24px;
}

#footer h4 {
  color: var(--purp);
}

#footer a {
  color: var(--txt);
  font-size: 20px;
  text-decoration: none;
}

#footer li {
  margin-bottom: 10px;
}

#footer a:hover {
  color: var(--purp);
  fill: var(--purp);
}

#footer svg {
  fill: var(--txt);
}

#footer svg:hover {
  fill: var(--purp);
}

#artikel .title {
  color: #1c2661;
  font-size: 20px;
}

#artikel .title:hover {
  color: #364281;
}

#galeri #more {
  color: #642abb;
}

#galeri #more:hover {
  color: #e725bd;
}

#galeri p {
  font-size: 24px;
}

#galeri .gal {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

#video img {
  width: 1150px;
}

#video p {
  font-size: 24px;
}

#doc .title {
  font-size: 24px;
}

#news .judul {
  font-size: 26px;
}

#guru #more {
  font-size: 24px;
  color: #642abb;
}

#footer .cc {
  font-size: 20px;
}

#guru #more:hover {
  color: #e725bd;
}

#card {
  transition: all 0.2s ease-in-out;
}

#card:hover {
  scale: 1.05;
}

#artikel svg {
  transition: all 0.1s ease-in-out;
}

#artikel svg:hover {
  scale: 1.2;
}

#keunggulan h4 {
  font-size: 24px;
  color: #1c2661;
  font-weight: 600;
}

#keunggulan p {
  font-size: 20px;
  color: var(--txt);
}
